header {
  background-color: $color-header;
  nav {
    div {
      ul {
        li {
          .nav-link{
            color: $color-menu;
            font-family: 'Signika Negative', sans-serif;
          }
        }
      }
    }
  }
}
