$color-header:#A03C78;
$color-logo: #191825;
$color-menu: #CDF3A2;
$color-footer: #ED8E7C;
$titulos: #191825;
// redes
$instagram: #e60073;
$facebook: #1877f2;
$wathsapp: #25d366;
$twitter: #1da1f2;
$youtube: #f21d1d;